.formlogin-container {
  max-width: 350px;
  background: #f8f9fd;
  background: linear-gradient(0deg, #fff 0%, #f4f7fb 100%);
  border-radius: 40px;
  padding: 25px 35px;
  border: 5px solid #fff;
  box-shadow: rgba(133, 189, 215, 0.88) 0px 30px 30px -20px;
  margin: 20px auto;
  
}

.formlogin-heading {
  text-align: center;
  font-weight: 900;
  font-size: 30px;
  color: rgb(16, 137, 211);

}

.formlogin-form {
  margin-top: 20px;
}

.formlogin-input {
  width: 100%;
  background: white;
  border: none;
  padding: 15px 20px;
  border-radius: 20px;
  margin-top: 15px;
  box-shadow: #cff0ff 0px 10px 10px -5px;
  border-inline: 2px solid transparent;
}

.formlogin-input::placeholder {
  color: rgb(170, 170, 170);
}

.formlogin-input:focus {
  outline: none;
  border-inline: 2px solid #12b1d1;
}

.formlogin-forgot-password {
  display: block;
  margin-top: 10px;
  margin-left: 10px;
}

.formlogin-forgot-password a {
  font-size: 11px;
  color: #0099ff;
  text-decoration: none;
}

.formlogin-login-button {
  display: block;
  width: 100%;
  font-weight: bold;
  background: linear-gradient(45deg, rgb(19, 167, 31) 0%, rgb(18, 177, 209) 100%);
  color: white;
  padding-block: 15px;
  margin: 20px auto;
  border-radius: 20px;
  box-shadow: rgba(133, 189, 215, 0.88) 0px 20px 10px -15px;
  border: none;
  transition: all 0.2s ease-in-out;
}

.formlogin-login-button:hover {
  transform: scale(1.03);
}

.formlogin-login-button:active {
  transform: scale(0.95);
}

.formlogin-social-account-container {
  margin-top: 25px;
}

.formlogin-title {
  display: block;
  text-align: center;
  font-size: 10px;
  color: rgb(170, 170, 170);
}

.formlogin-social-accounts {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 5px;
}

.formlogin-social-button {
  background: linear-gradient(45deg, #000 0%, #707070 100%);
  border: 5px solid white;
  padding: 5px;
  border-radius: 50%;
  width: 40px;
  aspect-ratio: 1;
  display: grid;
  place-content: center;
  color: white;
  font-weight: bold;
  box-shadow: rgba(133, 189, 215, 0.88) 0px 12px 10px -8px;
  transition: all 0.2s ease-in-out;
}

.formlogin-social-button:hover {
  transform: scale(1.2);
}

.formlogin-social-button:active {
  transform: scale(0.9);
}

.formlogin-agreement {
  display: block;
  text-align: center;
  margin-top: 15px;
}

.formlogin-agreement a {
  text-decoration: none;
  color: #0099ff;
  font-size: 9px;
}
