@import url('https://fonts.cdnfonts.com/css/supernova-2');
@import url('https://fonts.cdnfonts.com/css/agbalumo');





.home{
  font-family: 'Agbalumo', sans-serif;
}

/* ---design-- */
.custom-video::-webkit-media-controls {
  display: none !important;
}

.custom-video::-moz-media-controls {
  display: none !important;
}
.clear{
  margin-right: 100px;
}
.clear{
  transition: 0.5s;
}
.clear:hover{
  scale: 1.1;
}

.clear2{
  transition: 0.5s;
}
.clear2:hover{
  scale: 1.1;
}

/* This may not work in all browsers and is not standard */
.custom-video::-internal-media-controls {
  display: none;
}


/* Hide any overflow or layout bugs */
.custom-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  pointer-events: none; /* Optional: disables interaction */
}

.focus-container {
  position: relative;
  display: flex;
  gap: 1em;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.focus-word {
  position: relative;
  font-size: 3rem;
  font-weight: 900;
  cursor: pointer;
  transition:
  filter 0.3s ease,
    color 0.3s ease;
}

.focus-frame {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  box-sizing: content-box;
  border: none;
}

.corner {
  position: absolute;
  width: 1rem;
  height: 1rem;
  border: 3px solid var(--border-color, #fff);
  filter: drop-shadow(0px 0px 4px var(--glow-color, #fff));
  border-radius: 3px;
  transition: none;
}

.top-left {
  top: -10px;
  left: -10px;
  border-right: none;
  border-bottom: none;
}


.top-right {
  top: -10px;
  right: -10px;
  border-left: none;
  border-bottom: none;
}
.bottom-left {
  bottom: -10px;
  left: -10px;
  border-right: none;
  border-top: none;
}


.bottom-right {
  bottom: -10px;
  right: -10px;
  border-left: none;
  border-top: none;
}
.imageReveal{
  animation: imageReveal both; 
  animation-timeline: view(10% 5%); 
}

@keyframes imageReveal{
  from{
    filter: saturate(0) contrast(4)brightness(.1)blur(5px);
    opacity: 0;
    scale: .95 ;
    translate: 0 4rem;
  }
  to{
    filter: none;
    opacity: 1;
    scale: 1;
    translate: 0 0;

  }
}
.imageReveal2{
  animation: imageReveal both; 
  animation-timeline: view(10% 5%); 
}

@keyframes imageReveal2{
  from{
    filter: saturate(0) contrast(4)brightness(.1)blur(5px);
    opacity: 0;
    scale: .95 ;
    translate: 0 4rem;
  }
  to{
    filter: none;
    opacity: 1;
    scale: 1;
    translate: 0 0;

  }
}


.caramel{
  width: 30%;
  height: 55vh;
  transition: 0.5s;
}
.caramel:hover{
  scale: 1.1;
}

.step1{
  margin-left: 70vh;
  font-size: 2rem;
  margin-top: -180px;
  font-family: 'Supernova', sans-serif;
  transition: 0.5s;
}
.step1:hover{

  scale: 0.9;
}
.caramel2{
  width: 30%;
  height: 60vh;
  transition: 0.5s;
  margin-left: 130vh;
}

.caramel2:hover{
  scale: 1.1;
}
.step2{
  margin-top: -160px;
  font-size: 2rem;
  margin-left: 90px;
  font-family: 'Supernova', sans-serif;
  transition: 0.5s;
}
.step2:hover{
  scale: 0.9;
}

.last{
  background-color: rgba(245, 242, 242, 0.932);
  height: 530px;
  width:100%;
  margin-top: 150px;
  margin-bottom: 50px;
}

.inside{
height:300px; 
background-color: rgb(241, 239, 239); 
width: 90%; 
margin-left: 2%;
margin-right: 50px;
margin-top: 20px; 
pointer-events: none;
} 

 

.info
{
  height:500px;
  width:100%;
  background-color: rgb(4, 80, 27);
}

/* //social media logo// */
.wrapper {
  display: flex;
  /* justify-content: space-around; */

max-width: 300px;
padding-top: 50px;

}

.wrapper .icon {
  position: relative;
  background: #fff;
  z-index: 0;
  border-radius: 50%;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon::after {
  content: "";
  position: absolute;
  display: inline-block;
  height: 100%;
  width: 100%;
  background-color: transparent;
  z-index: -1;
  border-radius: 50%;
  top: 100%;
}
.wrapper .icon:hover:after {
  animation: bg-pos 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55) 1 both;
  animation-timing-function: ease-in-out;
}

.wrapper .icon:hover {
  color: #fff;
  overflow: unset;
  transition: color 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  animation: overflow-toggle 0.7s;
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #fff;
  color: #fff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #fff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}
.wrapper .facebook::after {
  background-color: #1877f2;
}
.wrapper .twitter::after {
  background-color: #1da1f2;
}
.wrapper .instagram::after {
  background-color: #e4405f;
}

.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background: #1877f2;
  color: #fff;
}

.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background: #1da1f2;
  color: #fff;
}

.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background: #e4405f;
  color: #fff;
}

@keyframes bg-pos {
  0% {
    top: 100%;
  }
  100% {
    top: 0;
  }
}

@keyframes overflow-toggle {
  0% {
    overflow: hidden;
  }
  100% {
    overflow: visible;
  }
}

.case{
  margin-left: 45%;
}
.case2{
  margin-left: 60%;
  margin-top: -21%;
}

.playstore-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #000;
  border-radius: 9999px;
  background-color: rgba(0, 0, 0, 1);
  padding: 0.625rem 1.5rem;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  outline: 0;
  transition: all 0.2s ease;
  text-decoration: none;
}

.playstore-button:hover {
  background-color: transparent;
  color: rgba(0, 0, 0, 1);
}

.icon {
  height: 1.5rem;
  width: 1.5rem;
}

.texts {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 1;
}

.text-1 {
  margin-bottom: 0.25rem;
  font-size: 0.75rem;
  line-height: 1rem;
}

.text-2 {
  font-weight: 600;
}


.playstore-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #000;
  border-radius: 9999px;
  background-color: rgba(0, 0, 0, 1);
  padding: 0.625rem 1.5rem;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  outline: 0;
  transition: all 0.2s ease;
  text-decoration: none;
}

.playstore-button:hover {
  background-color: transparent;
  color: rgba(0, 0, 0, 1);
}

.icon {
  height: 1.5rem;
  width: 1.5rem;
}

.texts {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 1;
}

.text-1 {
  margin-bottom: 0.25rem;
  font-size: 0.75rem;
  line-height: 1rem;
}

.text-2 {
  font-weight: 600;
}
