@import url('https://fonts.cdnfonts.com/css/alkatra');
.login{
    font-family: 'Alkatra', sans-serif;
    margin-left: 150vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  background-color: white;
  font-family: 'Agbalumo', sans-serif;
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 20px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logo {
  height: 60px;
  width: 60px;
}

.nav-links {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  justify-content: center;
 
}

.nav-links a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-weight: bold;
}

.subnav {
  background-color: rgba(96, 248, 76, 0.911);
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

/* Search Box Styles */
.box {
  max-width: 400px;
  width: 100%;
}

.search-box {
  position: relative;
  height: 50px;
  max-width: 50px;
  margin: auto;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  transition: all 0.3s ease;
}

.search-box.expanded {
  max-width: 380px;
}

.search-box input {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 25px;
  background: #fff;
  outline: none;
  border: none;
  padding-left: 20px;
  font-size: 18px;
}

.search-box .icon {
  position: absolute;
  right: -2px;
  top: 0;
  width: 50px;
  background: #fff;
  height: 100%;
  text-align: center;
  line-height: 50px;
  color: #ff6760;
  font-size: 20px;
  border-radius: 25px;
  cursor: pointer;
}

.search-box .icon.active {
  background: #ff6760;
  color: #fff;
  width: 60px;
  border-radius: 0 23px 25px 0;
}

#check {
  display: none;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .nav-links {
    gap: 20px;
    font-size: 16px;
  }
}

@media (max-width: 440px) {
  .search-box.expanded {
    max-width: 340px;
  }
}

@media (max-width: 380px) {
  .search-box.expanded {
    max-width: 300px;
  }
}

.content {
    width: 330px;
    background: #dde1e7;
    border-radius: 10px;
    padding: 40px 30px;
    box-shadow: -3px -3px 7px #ffffff73, 2px 2px 5px rgba(94, 104, 121, 0.288);
}

.content .text {
    font-size: 33px;
    font-weight: 600;
    margin-bottom: 35px;
    color: #595959;
}

.content .field {
    height: 50px;
    width: 100%;
    display: flex;
    position: relative;
}

.field input {
    height: 100%;
    width: 100%;
    padding-left: 45px;
    font-size: 18px;
    outline: none;
    border: none;
    border-radius: 25px;
    color: #595959;
    background: #dde1e7;
    box-shadow: inset 2px 2px 5px #babecc, inset -5px -5px 10px #ffffff73;
}


.field:nth-child(2) {
    margin-top: 20px;
}

.field span {
    position: absolute;
    width: 50px;
    line-height: 50px;
    color: #595959;
}

.field label {
    position: absolute;
    top: 50%;
    left: 45px;
    pointer-events: none;
    color: #666666;
    transform: translateY(-50%);
}

.field input:valid~label {
    opacity: 0;
}

.forgot {
    text-align: left;
    margin: 10px 0 10px 5px;
}

.forgot a {
    font-size: 16px;
    color: #3498db;
    text-decoration: none;
    outline: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.forgot:hover a {
    text-decoration: underline;
}

button {
    margin: 15px 0;
    width: 100%;
    height: 50px;
    color: #595959;
    font-size: 18px;
    font-weight: 600;
    background: #dde1e7;
    border: none;
    outline: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    border-radius: 25px;
    box-shadow: 2px 2px 5px #babecc, -5px -5px 10px #ffffff73;
}

button:focus {
    color: #3498db;
    box-shadow: inset 2px 2px 5px #babecc, inset -5px -5px 10px #ffffff73;
}

.signup {
    font-size: 16px;
    color: #595959;
    margin: 10px 0;
}

.signup a {
    color: #3498db;
    text-decoration: none;
    outline: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.signup a:hover {
    text-decoration: underline;
}

/* responsiveness */

@media (max-width: 370px) {

    .content {
        width: 290px;
    }
}

/* Login Form  */

.container {
    background: #fff;
    max-width: 350px;
    width: 100%;
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15);
}

.container form .title {
    font-size: 30px;
    font-weight: 600;
    margin: 20px 0 10px 0;
    position: relative;
}

.container form .title::before {
    content: '';
    position: absolute;
    height: 4px;
    width: 33px;
    bottom: 3px;
    left: 0;
    border-radius: 5px;
    background: linear-gradient(to right, #99004d 0%, #ff0080 100%);
}

.container form .input-box {
    width: 100%;
    height: 45px;
    margin-top: 25px;
    position: relative;
}

.container form .input-box input {
    height: 100%;
    width: 100%;
    outline: none;
    font-size: 16px;
    border: none;
}

.container form .underline:before {
    position: absolute;
    content: '';
    height: 2px;
    width: 100%;
    background: #ccc;
    left: 0;
    bottom: 0;
}

.container form .underline:after {
    position: absolute;
    content: '';
    height: 2px;
    width: 100%;
    background: linear-gradient(to right, #99004d 0%, #ff0080 100%);
    left: 0;
    bottom: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.3s ease;
}

.container form .input-box input:focus~.underline:after,
.container form .input-box input:valid~.underline:after {
    transform: scaleX(1);
    transform-origin: left;
}

.container form .button {
    margin: 40px 0 20px 0;
}

.container form .input-box input[type="submit"] {
    font-size: 17px;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    background: linear-gradient(to right, #99004d 0%, #ff0080 100%);
    transition: all 0.3s ease;
    user-select: none;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

.container form .input-box input[type="submit"]:hover {
    letter-spacing: 1px;
    background: linear-gradient(to left, #99004d 0%, #ff0080 100%);
}

.container .option {
    font-size: 14px;
    text-align: center;
}

.container .twitter a,
.container .facebook a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 45px;
    font-size: 15px;
    text-decoration: none;
    padding-left: 6px;
    color: #fff;
    line-height: 45px;
    border-radius: 5px;
    user-select: none;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

.container .twitter i,
.container .facebook i {
    padding-right: 12px;
    font-size: 20px;
}

.container .twitter a {
    margin: 20px 0 15px 0;
    background: linear-gradient(to left, #00acee 0%, #1abeff 100%);
}

.container .twitter a:hover {
    background: linear-gradient(to right, #00acee 0%, #1abeff 100%);
}

.container .facebook a {
    margin: 20px 0 50px 0;
    background: linear-gradient(to left, #3b5998 0%, #476bb8 100%);
}

.container .facebook a:hover {
    background: linear-gradient(to right, #3b5998 0%, #476bb8 100%);
}

/* responsiveness */

@media (max-width: 410px) {

    .container {
        max-width: 320px;
        width: 100%;
    }

    .container form .title {
        margin-top: 10px;
    }

    .container .facebook a {
        margin-bottom: 20px;
    }
}

@media (max-width: 370px) {

    .container {
        max-width: 300px;
        width: 100%;
        padding: 20px;
    }
}

@media (max-width: 340px) {

    .container {
        max-width: 280px;
        width: 100%;
    }

    .container .facebook a {
        margin-bottom: 10px;
    }
}
.block{
    height: 50px;
    width: 50px;
}
.browse{
      font-family: 'Agbalumo', sans-serif;
      margin-left: 950px;
}